.App{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnContainer{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.btn0{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  padding: 10px 15px;
  width: 60%;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  border-color: transparent;
}

@media only screen and (max-width: 1024px) {
  .btnContainer{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
  }
  .bton0{
    background-color: transparent;
    width: 80%;
  }
}
